<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Happy Girlfriend Day ❤️</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<canvas id="fireworks"></canvas>

<div id="finale">
    <div class="final-text">
        ❤️ HAPPY GIRLFRIEND'S DAY ❤️
        <br><br>
        🌹 Forever & Always 🌹
    </div>
</div>

<div id="heartExplosion">
    ❤️
</div>

<body>

<div id="hearts"></div>

<canvas id="sparkles"></canvas>

<div class="card">

<button id="openLetter">💌 Open My Letter</button>

<div id="letter" class="letter">
    <h2>To My Love ❤️</h2>

    <p>
        Every moment with you is a beautiful memory.
        Thank you for bringing happiness, love and endless smiles into my life.
        You are my today, my tomorrow and my forever.
    </p>

    <h3>Happy Girlfriend's Day ❤️</h3>
</div>

<p id="typing"></p>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>